.App {	
    text-align: center;	
}	

 .App-container {	
    margin-top: 3em;	
}	

 .App-logo {	
    animation: App-logo-spin infinite 20s linear;	
    height: 40vmin;	
    pointer-events: none;	
}	

 .App-header {	
    background-color: #282c34;	
    min-height: 100vh;	
    display: flex;	
    flex-direction: column;	
    align-items: center;	
    justify-content: center;	
    font-size: calc(10px + 2vmin);	
    color: white;	
}	

 .ui.label.App-label {	
    border-radius: 0%;	
}	

 .ui.form .inline.fields.App-group .field {	
    padding: 0;	
}	

 .App-group .ui.right.labeled.input {	
    max-width: 7em;	
}	

 .App-link {	
    color: #61dafb;	
}	

 @keyframes App-logo-spin {	
    from {	
        transform: rotate(0deg);	
    }	
    to {	
        transform: rotate(360deg);	
    }	
}